* {
    box-sizing: border-box;
}

body {
    background-color: #0a1323;
    width: 100%;
    padding: 1em 2em;
    font-family: Montserrat, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    padding-top: 0.7em;
}

.siteLogo img {
    width: 80px;
    padding-top: 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-self: end;
}

nav ul li {
    display: inline-block;
    justify-content: space-between;
    list-style: none;
}

li a {
    display: block;
    padding: 0 1em;
    text-decoration: none;
    color: #c1cbf3;
    font-size: 14px;
    font-weight: 700;
}

li a span {
    font-weight: 800;
}

.fst-grad {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, orange, green, #0593ff, violet);
    color: transparent;
}

button {
    background-color: transparent;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, orange, green, #0593ff, violet);
}

nav button {
    padding: 8px 2em;
    font-size: 14px;
    font-weight: 600;
    color: #c1cbf3;
    margin-left: 1em;
}

article {
    color: #c1cbf3;
    padding-left: 5rem;
    padding-top: 2em;
}

.heroPage h5 {
    font-size: 15px;
    font-weight: 800;
}

.heroPage h1 {
    font-size: 4rem;
    margin: 1px 0;
}

.heroPage h2 {
    font-size: 4rem;
    margin: 1px 0;
}

.heroPage p {
    font-weight: 500;
    width: 60%;
    line-height: 2;
}

.heroPage hr {
    align-self: flex-start;
    margin: 2em 0;
    border: none;
    background-color: #5a5a5a;
    width: 280px;
    height: 1px;
}

#sec-grad {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, orange, green, #0593ff, violet);
}

section {
    padding-top: 2rem;
}

.balablue {
    display: flex;
}

.balablue h1 {
    font-size: 25px;
    font-weight: 600;
}

.balablue .fst-grad {
    margin-right: 0.4em;
}

.balablue hr {
    align-self: flex-start;
    margin: 2.6rem 0.6em;
    border: none;
    background-color: #5a5a5a;
    width: 300px;
    height: 1px;
}

.abilitiesCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    height: 310px;
    margin: 1em;
    background-color: #0f1930;
    border: 1px solid rgba(78, 78, 78, .358);
    border-radius: 10px;
    box-shadow: 3px 3px 5px 2px #000;
    transition: .3s ease-in;
}

.card:hover {}

.cardHead {
    border-bottom: 1px solid #5a5a5a;
    width: 100%;
    padding: 12px 1em;
    text-align: left;
}

.gradbutton {
    display: inline-block;
    width: 53px;
    text-align: left;
}

.colorbutton1 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fb4646;
    display: inline-block;
}

.colorbutton2 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fcb024;
    display: inline-block;
}

.colorbutton3 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #29c233;
    display: inline-block;
}

.cardHead .texthead {
    display: inline-block;
    margin-left: 1em;
}

.cardHead .texthead h5 {
    margin: 0;
    text-align: center;
}

.carddetails {
    padding-left: 1em;
}

.carddetails h4 {
    font-size: 13px;
    font-weight: 500;
    margin: 20px 0;
    margin-right: 1em;
}

.carddetails h5 {
    margin: 20px 0;
    margin-right: 1em;
}

.carddetails h6 {
    font-size: 13px;
    font-weight: 500;
    margin: 20px 0;
    word-spacing: 5px;
    padding-right: 6em;
}

.carddetails span h6 {
    line-height: 2em;
    margin-bottom: -7px;
    margin-top: -7px;
}

.sec3 {
    align-items: center;
    justify-content: center;
}

.secDetails {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
}

.secheadings {
    border-left: 1px solid rgba(78, 78, 78, .358);
    height: 85%;
    margin: 0;
    padding: 0 1em;
}

.secheadings h5 {
    padding: 1em 0;
    font-size: 14px;
    font-weight: 500;
}

.secheadings:active {
    border-left: 2px solid orange;
}

.headingsNote {
    margin-left: 2em;
}

.thd-grad {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, orange, green, #0593ff);
    color: transparent;
}

.heading h2 {
    font-size: 18px;
    font-weight: 700;
    padding-top: 0.8em;
}

.heading p {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}

.listedexp ul {
    padding-top: 7px;
}

.listedexp ul li {
    padding-top: 0.8em;
    line-height: 1.5rem;
    font-size: 16px;
}

.banner {
    max-width: 350px;
    min-height: 235px;
    min-width: 215px;
    margin: 1em;
    background-color: #0f1930;
    border: 1px solid rgba(78, 78, 78, .358);
    border-radius: 10px;
    box-shadow: 3px 3px 5px 2px #000;
    transition: .3s ease-in;
    padding: 1.5em;
}

.icondiv {
    width: 100%;
}

.icon1 {
    display: inline-block;
    align-items: left;
}

.icon1 {
    display: inline-block;
    align-items: end;
}

.bannerdetails h4 {
    font-size: 14px;
}